@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@font-face {
    font-family: 'Who asks Satan';
    src: url('WhoasksSatan.woff2') format('woff2'),
        url('WhoasksSatan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
nav{
    font-family: 'Who asks Satan';
    font-size: 40px;
}
nav li{
    margin-left: 20px;
}
h2{
    font-family: 'Who asks Satan';
    font-size: 70px;
}

body {

}